.selected-food-page {
  margin-top: 2rem;
  border-radius: 10px;
  padding: 1.5rem 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.selected-food-page__title {
  font-size: 1.5rem;
  color: var(--Red);
}

.food-selected {
  border-bottom: 1px solid var(--Rose-100);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selected-food-left {
  display: flex;
  flex-direction: column;
}

.food-selected p {
  color: var(--Rose-900);
  font-weight: bold;
  font-size: 1.2rem;
}

.selected-food-number {
  color: var(--Red);
  font-weight: 800;
}

.selected-food-price {
  color: var(--Rose-300);
}

.selected-food-total-price {
  color: var(--Rose-400);
  font-weight: 600;
}

.food-price-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
}

.selected-food-remove {
  border: none;
  height: 20px;
  width: 20px;
  padding-top: 2px;
  background-color: white;
  border: 1px solid var(--Rose-300);
  border-radius: 50%;
}

.selected-food-remove:hover {
  cursor: pointer;
}

.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.total-price p {
  color: var(--Rose-900);
  font-size: 1.1rem;
}

.total-price span {
  font-size: 2rem;
  color: var(--Rose-900);
  font-weight: bold;
}

.food-information {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.2rem;
  background-color: var(--Rose-100);
  border-radius: 5px;
}

.confirm-order-button {
  margin-top: 1rem;
  border: none;
  padding: 1rem;
  background-color: var(--Red);
  color: var(--Rose-100);
  border-radius: 200px;
  font-size: 1.1rem;
}

.confirm-order-button:hover {
  cursor: pointer;
}
